<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="container"> 
       <div class="inner-blog details container content">
           <div class="inner-box">
               <h3 class="title"><%= blog.title %> </h3>
               <p> <%= blog.snippet %></p>
               <p> <%= blog.body %></p> 
           </div>
           <div class="inner-box">
               <a class="delete" data-doc="<%= blog._id %>">Delete</a>
           </div>
       </div>
    </div>
   

    <%- include('../partials/footer.ejs') %> 
  <script>
      const trashcan = document.querySelector('a.delete');
      trashcan.addEventListener('click', (e) =>{
          const endpoint = `/blogs/${trashcan.dataset.doc}`;
          fetch(endpoint , {
              method:'DELETE'
          })
          .then((response) => response.json())
          .then((data) => window.location.href = data.redirect)
          .catch(err => console.log(err))
        })
  </script>

</body>

</html>